<div class="row">
    <div class="col-md-6">
        <p> Author: {{quot.author}}  </p> 
    </div>
    <div class="col-md-6">
        <p> Posted by: {{quot.submitBy}} </p> 
    </div>

</div>

<p>Since the quote was posted it has been {{quot.postDate|dateCount}} days </p>

 
 <p> Like<fa-icon [icon]="faCoffee" (click) ="addUps()" ></fa-icon> {{vote}}</p>
 <p> Dislike <fa-icon [icon]="faCoffee" (click) ="addDowns()" ></fa-icon>{{down}}
</p>
<button class="btn btn-outline-danger" (click)='quoteDelete(true)'> Delete Goal</button>



 
