<div class="row author">
    <div class="col-md-6">
        <p> <span>Author:</span>   {{quot.author}}  </p> 
    </div>
    <div class="col-md-6">
        <p> <span>Posted by:</span>  {{quot.submitBy}} </p> 
    </div>

</div>

<p>Since the quote was posted it has been {{quot.postDate|dateCount}} days </p>

 
 <p> Like<fa-icon [icon]="faCoffee" (click) ="upTheVote(true)" ></fa-icon> {{quot.upVote}}</p>
 <p> Dislike <fa-icon [icon]="faCoffee" (click) ="downTheVote(true)" ></fa-icon> {{quot.downVote}}</p>

<button class="btn btn-outline-danger" (click)='quoteDelete(true)'> Delete Goal</button>



 
