.app{
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
   color: white;
   padding: 40px;
}
h1{
   text-align: center;
   color: rgb(179, 125, 230);
}
.just{
   text-align: center;
   font-style: italic;
   
}
.first{
   width: 100px;
   height: 5px;
   margin-left:770px;
}

h2{
   font-size:22px;
   font-weight:lighter;
   line-height:35px;
}

.btn{
   background-color:blueviolet;
   border-radius:15px;
   border: none;
   color: white;

   
}

.btn:hover{
   background-color:white;
   color:blueviolet;
}

